html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  /* Navigation Bar */
  
  #home {
    background-color:  #4A55A2;
    margin-left:-1cm;
    margin-right:-1cm;
    margin-top:-1cm;
    height: 120px;
   }
  
  .topmenu {
    color: #F4F4F4;
    margin: 10px;
    padding: 20px;
    font-size: 18px;
    text-decoration: none;
  }
  
  .topmenu:hover {
    color: #F4F4F4;
    text-decoration: underline;
    /* Add the styles here */
  }
  
  .topdiv {
    float: right;
    margin-right: 49px;
    margin-top: 63.5px;
  }
  
  .profile_name {
    float: left;
    margin-left: 79px;
    margin-top: 44px;
    color:#F4F4F4;
    font-size: 16px;
    /* Add the styles here */
  }
  
  .profile_name .contact_info {
    font-size: 12px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 3.5px;
    margin-bottom: 3.5px;
  }
  
  .contact_info img {
    width:10px;
    margin-right: 7px;
    float:left;
  }
  
  /* Titles */
  
  h2 {
    text-align: justify;
    font-size: 50px;
    text-align: center;
    float: left;
    color: #7600bc;
    margin: 30px;
    margin-left: 60px;
    margin-top: 40px;
    margin-bottom: 0px;
  }
  
  .introduction {
    text-align: justify;
    font-size: 40px;
    text-align: center;
    float: center;
    margin-top: 30px;
    margin-bottom: 20px;
    animation-duration: 5s;
    position: relative;
    color:#4A55A2;
  }
  
  /* Used in the About Me sections */
  
  .container {
    display: flex;
    padding-right: 226px;
    padding-left: 226px;
    padding-top: 60px;
  }
  
  /* About Me */
  
  .about-me {
    display: flex;
    align-items: center;
    padding-right: 226px;
    padding-left: 226px;
    padding-top: 60px;
  }
  
  #about-me h1 {
    font-size: 62px;
    margin-top: 60px;
    color: #4A55A2;
  }
  
  #about-me p {
    font-size: 20px;
    color: #222222;
    margin-top: 50px;
    margin-right: 142px;
    line-height: 140%;
  }
  
  .profile_image {
    width: 231px;
    height: fit-content;
    vertical-align: middle;
    border-style: solid;
    border-color: #7895CB;
    border-width: 16px;
    box-shadow: 16px 16px 0px 0px #A0BFE0;
  }
  
  /* Skills */
  
  #skills {
      margin-top: 146px;
      background-color: #A0BFE0;
      margin-left:-1cm;
      margin-right:-1cm;
      padding-left: 150px;
      padding-right: 150px;
      padding-top: 20px;
      padding-bottom: 30px;
  }
  
  .all_skills {
      display: flex;
      width: flex;
      align-items: flex-start;
      align-content: flex-start;
      gap: 75px;
      flex-wrap: wrap;
      margin-top: 40px;
      margin-bottom: 40px;
      padding-right: 40px;
      padding-left: 40px;
    
  }
  
  .skill {
    display: block;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 24px;
    padding-right: 24px;
    width: 195px;
    height: flex;
    font-size: 20px;
    background-color: #F4F4F4;
    border-radius: 8px;
      box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.25);
  }
  
  .skill img {
    height: 85px;
    align-items: center;
  }
  
  #skills h2 {
      margin-left: 50px;
      margin-top: 50px;
      margin-right: 60px;
      color: #4A55A2;
      font-size: 62px;
  }
  
  #skills h5 {
    align-items: center;
    font-size: 20px;
    margin-block-start: 8px;
    margin-block-end: 5px;
    color: #222222;
  } 
  
  #skills p {
    align-items: center;
    font-size: 20px;
    color: #4A55A2;
    margin-block-start: 5px;
    margin-block-end: 5px;
    margin-top: 32px;
  } 
  
  .flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Projects */
  
  .projects-container {
    margin-top: 30px;
    margin-left: 60px;
  }
  
  .projects h2 {
      float: right;
      color: #4A55A2;
      font-size: 62px;
      margin-top: 90px;
      margin-right: 70px;
  }
  
  .projects-container hr {
    border: 1px solid #A0BFE0;
    width: 75%;
    margin-left: 5cm;
  }
  
  .project-card {
    margin: 0 15px 15px 0px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .project-card h3 {
    font-size: 25px;
    margin-left: 30px;
    color: #222222;
  }
  
  .project-card li {
    font-size: 18px;
    margin-left: 30px;
    color: #222222;
  }
  
  /* Recommendations */
  
  #recommendations h2 {
      font-size: 62px;
      color: #4A55A2;
      margin-left: 140px;
      margin-top: 100px;
      margin-bottom: 20px;
  }
  
  .all_recommendations {
    display: flex;
    align-items: center;
    margin: 0px 0px 70px 1in;
    flex-direction: row;
    flex-flow: wrap;
    padding: 20px 40px 20px 40px;
  }
  
  .recommendation {
    font-style: italic;
    color:#F4F4F4;
    text-align: left;
    width: 21.875rem;
    height: 11.8rem;
    padding: 1.5rem;
    background-color: #7895CB;
    border-radius: 8px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 25px;
    font-size: 18px;
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.25);
  
  }
  
  .recommendation span {
    color: #F4F4F4;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  /* Scroll to Top Button */
  
  .iconbutton{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background-color: #4A55A2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 3%;
    bottom: 3%;
    cursor: pointer;
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.25);
  }
  
  /* Form Pop-up */
  
  .popup {
    width:400px;
    color: #222222;
    background-color: #C5DFF8;
    border-radius: 3mm;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    position: fixed;
    /* padding: 30px; */
    visibility: hidden;
  }
  
  .popup img {
    padding-top: 20px;
  }
  
  .popup button {
    display: block;
    border-radius: 24px;
    text-align: center;
    margin: 30px;
    padding: 10px;
    margin-left: 25%;
    background-color: #4A55A2;
    color: #F4F4F4;
    width: 2in;
    font-size: 20px;
    border-width: 0px;
  }
  
  .popup button:hover {
    background-color: #F4F4F4;
    color: #4A55A2;
    display: block;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    margin-left: 25%;
    border-radius: 24px;
    border-width: 0px;
  }
  

  /* Recommendation Form */
  
#contact {
    background-color: #A0BFE0;
    margin: 0px -1cm -1cm -1cm;
}

  input, textarea {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    margin: 10px;  
    width:100%;
    border-radius: 6px;
    background: var(--white, #F4F4F4);
    border-color: var(--white, #F4F4F4);;
  }
  
  fieldset {
    display: flexbox;
    align-content: center;
    justify-content: center;  
    padding: 25px; 
    margin-top: 70px;
    margin-left: 50px; 
    margin-right: 50px;   
    border: thin solid #A0BFE0;
    width: 50%;
  }
  
  /* Buttons */
  
  button {
    background-color: #4A55A2;
    color: #F4F4F4;
    display: block;
    border-radius: 24px;
    text-align: center;
    margin: 30px;
    padding: 10px;
    width: 2in;
    font-size: 20px;
    border-width: 0px;
  }
  
  button:hover {
    background-color: #F4F4F4;
    color: #4A55A2;
    display: block;
    border-radius: 24px;
    text-align: center;
    cursor: pointer;
    border-width: 0px;
  }
